<tr>
  <td>
    <span id="route_title_<%= route.id %>"><%= route.title %></span>
    <%= render 'form', route: route, hidden: true %>
  </td>
  <td><%= link_to t('common.show'), [:admin, route] %></td>
  <td>
    <%= link_to t('common.edit'), '',
                class: 'edit_route',
                data: {
                    route_id: route.id,
                    edit_title: t('common.edit'),
                    cancel_title: t('common.cancel')
                } %>
  </td>
  <td>
    <%= link_to t('common.destroy'),
                  [:admin, route],
                  method: :delete,
                  data: { confirm: t('common.sure') } %>
  </td>
</tr>
