<p id="notice"><%= notice %></p>

<p>
  <strong>Cars:</strong>
  <% if @train.cars.present? %>
    <ul>
      <% @train.cars.each do |car| %>
        <li><%= link_to "Car #{car.serial_number}", car_path(car) %></li>
      <% end %>
    </ul>
  <% else %>
    not set
  <% end%>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    not set
  <% end%>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
