<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Premium cars:</strong>
  <%= @train.cars_by_type(:premium).count %>
</p>

<p>
  <strong>Premium bottom seats:</strong>
  <%= @train.car_seats(:premium, :bottom) %>
</p>

<p>
  <strong>Coupe cars:</strong>
  <%= @train.cars_by_type(:coupe).count %>
</p>

<p>
  <strong>Coupe bottom seats:</strong>
  <%= @train.car_seats(:coupe, :bottom) %>
</p>

<p>
  <strong>Coupe top seats:</strong>
  <%= @train.car_seats(:coupe, :top) %>
</p>

<p>
  <strong>Economy cars:</strong>
  <%= @train.cars_by_type(:economy).count %>
</p>

<p>
  <strong>Economy bottom seats:</strong>
  <%= @train.car_seats(:economy, :bottom) %>
</p>

<p>
  <strong>Economy top seats:</strong>
  <%= @train.car_seats(:economy, :top) %>
</p>

<p>
  <strong>Economy side bottom seats:</strong>
  <%= @train.car_seats(:economy, :side_bottom) %>
</p>

<p>
  <strong>Economy side top seats:</strong>
  <%= @train.car_seats(:economy, :side_top) %>
</p>

<p>
  <strong>Sitting cars:</strong>
  <%= @train.cars_by_type(:sitting).count %>
</p>

<p>
  <strong>Sitting seats:</strong>
  <%= @train.car_seats(:sitting, :bottom) %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    not set
  <% end%>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
