<p>
  <strong>Premium seats:</strong>
  <%= @train.car_seats(:premium, :bottom) %>
</p>

<p>
  <strong>Coupe bottom seats:</strong>
  <%= @train.car_seats(:coupe, :bottom) %>
</p>

<p>
  <strong>Coupe top seats:</strong>
  <%= @train.car_seats(:coupe, :top) %>
</p>

<p>
  <strong>Economy bottom seats:</strong>
  <%= @train.car_seats(:economy, :bottom) %>
</p>

<p>
  <strong>Economy top seats:</strong>
  <%= @train.car_seats(:economy, :top) %>
</p>

<p>
  <strong>Economy side bottom seats:</strong>
  <%= @train.car_seats(:economy, :side_bottom) %>
</p>

<p>
  <strong>Economy side top seats:</strong>
  <%= @train.car_seats(:economy, :side_top) %>
</p>

<p>
  <strong>Sitting seats:</strong>
  <%= @train.car_seats(:sitting, :bottom) %>
</p>

<p>
  <%= link_to 'Add car', new_train_car_path(@train) %>
</p>

<p>
  <strong>Cars:</strong>
  <% if @train.cars.present? %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @train.ordered_cars.each do |car| %>
        <tr>
          <td><%= link_to "Car #{car.serial_number}", car %></td>
          <td><%= link_to 'Edit', edit_car_path(car) %></td>
          <td><%= link_to 'Destroy',
                          car_path(car),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    not set
  <% end%>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    not set
  <% end%>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
