<%= form_for [:admin, @train, @car] do |f| %>

  <%= render 'common/errors', resource: @car %>

  <div class="form-group">
    <%= f.label :type %>
    <%= f.select :type, Car::TYPES, {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :bottom_seats %>
    <%= f.text_field :bottom_seats, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :top_seats %>
    <%= f.text_field :top_seats, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :side_bottom_seats %>
    <%= f.text_field :side_bottom_seats, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :side_top_seats %>
    <%= f.text_field :side_top_seats, class: 'form-control' %>
  </div>

  <%= link_to t('common.back'), [:admin, @car.train], class: 'btn btn-default' %>
  <%= f.submit t('.submit', action: @car.new_record? ? t('common.create') : t('common.update')), class: 'btn btn-primary pull-right' %>

<% end %>
