<h1 class="page-header"><%= t('common.car') %></h1>

<p>
  <strong><%= t('common.type') %>:</strong>
  <%= @car.type_name %>
</p>

<p>
  <strong><%= t('.bottom_seats') %>:</strong>
  <%= @car.bottom_seats %>
</p>

<p>
  <strong><%= t('.top_seats') %>:</strong>
  <%= @car.top_seats %>
</p>

<p>
  <strong><%= t('.side_bottom_seats') %>:</strong>
  <%= @car.side_bottom_seats %>
</p>

<p>
  <strong><%= t('.side_top_seats') %>:</strong>
  <%= @car.side_top_seats %>
</p>

<p>
  <strong><%= t('common.train') %>:</strong>
  <% if @car.train.present? %>
    <%= link_to @car.train.number, [:admin, @car.train] %>
  <% else %>
    <%= t('common.not_set') %>
  <% end %>
</p>

<%= link_to t('common.back'), [:admin, @car.train], class: 'btn btn-default' %>
<%= link_to t('common.edit'), edit_admin_car_path(@car), class: 'btn btn-primary pull-right' %>
