<tr>
  <td><%= economy_car.type_name %></td>
  <td><%= economy_car.bottom_seats %></td>
  <td><%= economy_car.top_seats %></td>
  <td><%= economy_car.side_bottom_seats %></td>
  <td><%= economy_car.side_top_seats %></td>
  <td>
    <% if economy_car.train.present? %>
      <%= economy_car.train.number %>
    <% else %>
        <%= t('common.not_set') %>
    <% end %>
  </td>
  <td><%= link_to t('common.show'), admin_car_path(economy_car) %></td>
  <td><%= link_to t('common.edit'), edit_admin_car_path(economy_car) %></td>
  <td><%= link_to t('common.destroy'),
                  admin_car_path(economy_car),
                  method: :delete,
                  data: { confirm: t('common.sure') } %></td>
</tr>
