<div class="row">
  <div class="col-md-12">
    <h1 class="page-header"><%= t('.fogot_password') %></h1>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class="text-danger">
              <%= devise_error_messages! %>
            </div>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.text_field :email, autofocus: true, class: 'form-control' %>
            </div>

            <%= f.submit t('.send_instruction'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>

    <br>

    <%= render 'devise/shared/links' %>

  </div>
</div>