<tr>
  <td>
    <% if ticket.train.present? %>
      <%= ticket.train.number %>
    <% else %>
      not set
    <% end %>
  </td>
  <td>
    <% if ticket.start_station.present? %>
      <%= ticket.start_station.title %>
    <% else %>
      not set
    <% end %>
  </td>
  <td>
    <% if ticket.end_station.present? %>
      <%= ticket.end_station.title %>
    <% else %>
      not set
    <% end %>
  </td>
  <td><%= link_to 'Show', ticket %></td>
  <td><%= link_to 'Destroy',
                  ticket, method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
</tr>
