<tr>
  <td>
    <% if ticket.train.present? %>
      <%= ticket.train.number %>
    <% else %>
      <%= t('common.not_set') %>
    <% end %>
  </td>
  <td>
    <% if ticket.start_station.present? %>
      <%= ticket.start_station.title %>
    <% else %>
      <%= t('common.not_set') %>
    <% end %>
  </td>
  <td>
    <% if ticket.end_station.present? %>
      <%= ticket.end_station.title %>
    <% else %>
      <%= t('common.not_set') %>
    <% end %>
  </td>
  <td>
    <% if ticket.start_station.present? %>
      <%= l(ticket.start_station.departure_time(ticket.train.route)) %>
    <% else %>
      <%= t('common.not_set') %>
    <% end %>
  </td>
  <td>
    <% if ticket.end_station.present? %>
      <%= l(ticket.end_station.arrival_time(ticket.train.route)) %>
    <% else %>
      <%= t('common.not_set') %>
    <% end %>
  </td>
  <td><%= link_to t('common.show'), ticket %></td>
  <td><%= link_to t('common.destroy'),
                  ticket, method: :delete,
                  data: { confirm: t('common.sure') } %></td>
</tr>
