<h1><%= t('tickets.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('common.train') %></th>
      <th><%= t('common.start_station') %></th>
      <th><%= t('common.end_station') %></th>
      <th><%= t('common.departure_time') %></th>
      <th><%= t('common.arrival_time') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br>
