<p>
  <strong><%= t('common.first_name') %>:</strong>
  <%= @ticket.first_name %>
</p>

<p>
  <strong><%= t('common.last_name') %>:</strong>
  <%= @ticket.last_name %>
</p>

<p>
  <strong><%= t('common.middle_name') %>:</strong>
  <%= @ticket.middle_name %>
</p>

<p>
  <strong><%= t('common.passport_series') %>:</strong>
  <%= @ticket.passport_series %>
</p>

<p>
  <strong><%= t('common.passport_number') %>:</strong>
  <%= @ticket.passport_number %>
</p>

<p>
  <strong><%= t('common.train') %>:</strong>
  <% if @ticket.train.present? %>
    <%= @ticket.train.number %>
  <% else %>
      <%= t('common.not_set') %>
  <% end %>
</p>

<p>
  <strong><%= t('common.start_station') %>:</strong>
  <% if @ticket.start_station.present? %>
    <%= @ticket.start_station.title %>
    (<%= l(@ticket.start_station.departure_time(@ticket.train.route)) %>)
  <% else %>
      <%= t('common.not_set') %>
  <% end %>
</p>

<p>
  <strong><%= t('common.end_station') %>:</strong>
  <% if @ticket.end_station.present? %>
    <%= @ticket.end_station.title %>
    (<%= l(@ticket.end_station.arrival_time(@ticket.train.route)) %>)
  <% else %>
      <%= t('common.not_set') %>
  <% end %>
</p>

<%= link_to t('common.back'), tickets_path %>
