<tr>
  <td><%= sitting_car.type_name %></td>
  <td><%= sitting_car.bottom_seats %></td>
  <td></td>
  <td></td>
  <td></td>
  <td>
    <% if sitting_car.train.present? %>
      <%= sitting_car.train.number %>
    <% else %>
        <%= t('common.not_set') %>
    <% end %>
  </td>
  <td><%= link_to t('common.show'), admin_car_path(sitting_car) %></td>
  <td><%= link_to t('common.edit'), edit_admin_car_path(sitting_car) %></td>
  <td><%= link_to t('common.destroy'),
                  admin_car_path(sitting_car),
                  method: :delete,
                  data: { confirm: t('common.sure') } %></td>
</tr>
