<tr>
  <td><%= ticket.first_name %></td>
  <td><%= ticket.last_name %></td>
  <td><%= ticket.middle_name %></td>
  <td>
    <% if ticket.train.present? %>
      <%= ticket.train.number %>
    <% else %>
        <%= t('common.not_set') %>
    <% end %>
  </td>
  <td>
    <% if ticket.start_station.present? %>
      <%= ticket.start_station.title %>
    <% else %>
        <%= t('common.not_set') %>
    <% end %>
  </td>
  <td>
    <% if ticket.end_station.present? %>
      <%= ticket.end_station.title %>
    <% else %>
      <%= t('common.not_set') %>
    <% end %>
  </td>
  <td><%= link_to t('common.show'), [:admin, ticket] %></td>
  <td><%= link_to t('common.edit'), edit_admin_ticket_path(ticket) %></td>
  <td><%= link_to t('common.destroy'),
                  [:admin, ticket],
                  method: :delete,
                  data: { confirm: t('common.sure') } %></td>
</tr>
