<h1><%= t('common.tickets') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('common.first_name') %></th>
      <th><%= t('common.last_name') %></th>
      <th><%= t('common.middle_name') %></th>
      <th><%= t('common.train') %></th>
      <th><%= t('common.start_station') %></th>
      <th><%= t('common.end_station') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br>
