<h1><%= t('.title') %></h1>

<%= form_tag search_path, method: :get, enforce_utf8: false do %>
  <%=select_tag :start_station_id,
                options_from_collection_for_select(@railway_stations, :id, :title, params[:start_station_id]),
                include_blank: true %>
  —
  <%=select_tag :end_station_id,
                options_from_collection_for_select(@railway_stations, :id, :title, params[:end_station_id]),
                include_blank: true %>
  <%= submit_tag t('common.search'), name: nil %>
<% end %>

<%  if @routes.present? %>
  <% @routes.each do |route| %>
    <%  if route.trains.present? %>
      <% route.trains.each do |train| %>
        <div>
          <p>
            <strong><%= t('common.train') %> #<%= train.number %></strong>
            (<%= route.title %>)
          </p>
          <p><%= t('common.departure_time') %>: <%= l(route.start_station.departure_time(route)) %></p>
          <p><%= t('common.arrival_time') %>: <%= l(route.start_station.arrival_time(route)) %></p>
          <p><%= link_to t('common.buy_ticket'), new_train_ticket_path(train) %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
<%  end %>
