<div class="row">
  <div class="col-md-12">
    <h1 class="page-header"><%= t('.title') %></h1>

    <%= form_tag search_path, method: :get, enforce_utf8: false do %>
        <div class="row">
          <div class="col-md-4">
            <br>
            <%= select_tag :start_station_id,
                           options_from_collection_for_select(@railway_stations, :id, :title, params[:start_station_id]),
                           include_blank: true,
                           class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <br>
            <%= select_tag :end_station_id,
                           options_from_collection_for_select(@railway_stations, :id, :title, params[:end_station_id]),
                           include_blank: true,
                           class: 'form-control'%>
          </div>
          <div class="col-md-4">
            <br>
            <%= submit_tag t('common.search'), name: nil, class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>

    <br>

    <%  if @routes.present? %>
        <% @routes.each do |route| %>
            <%  if route.trains.present? %>
                <% route.trains.each do |train| %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <strong><%= t('common.train') %> #<%= train.number %></strong>
                        (<%= route.title %>)
                      </div>
                      <div class="panel-body">
                        <p><%= t('common.departure_time') %>: <%= l(route.start_station.departure_time(route)) %></p>
                        <p><%= t('common.arrival_time') %>: <%= l(route.start_station.arrival_time(route)) %></p>
                      </div>
                      <div class="panel-footer text-right">
                        <%= link_to t('common.buy_ticket'), new_train_ticket_path(train), class: 'btn btn-success' %>
                      </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    <% elsif params[:start_station_id] && params[:end_station_id]%>
      <%= t('.not_found') %>
    <%  end %>
  </div>
</div>
