<p>
  <strong>Railway station in the Route:</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
    Empty list
  <% else %>
  <table>
    <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_position_railway_station_path(station), method: :patch do %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= number_field_tag :position, station.position_in(@route)  %>
              <%= submit_tag 'Save' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end%>
</p>
