<p id="notice"><%= notice %></p>

<h1>Editing Route</h1>

<%= render 'form' %>

<%= form_for @route, url: add_station_path do |f| %>

  <div class="field">
    <label for="station_id">Railway Stations</label></br>
    <select name="station_id">
      <%= @railway_stations.each do |station| %>
        <option value="<%= station.id %>"><%= station.title %></option>
      <% end %>
    </select>
  </div>

  <div class="actions">
    <%= f.submit 'Add Station' %>
  </div>

<% end %>

<ol>
<% @route.railway_stations.each do |station| %>
  <li>
    <%= station.title %>
    <%= link_to 'Destroy',
                destroy_station_path(station_id: station.id),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </li>
<% end %>
</ol>

<%= link_to 'Show', @route %> |
<%= link_to 'Back', routes_path %>
