<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<table>
  <tbody>
  <% @route.railway_stations.each do |station| %>
    <tr>
      <td><%= station.title %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
