<tr>
  <td><%= sitting_car.type_name %></td>
  <td><%= sitting_car.bottom_seats %></td>
  <td></td>
  <td></td>
  <td></td>
  <td>
    <% if sitting_car.train.present? %>
      <%= sitting_car.train.number %>
    <% else %>
      not set
    <% end %>
  </td>
  <td><%= link_to 'Show', car_path(sitting_car) %></td>
  <td><%= link_to 'Edit', edit_car_path(sitting_car) %></td>
  <td><%= link_to 'Destroy', car_path(sitting_car), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
