<%= form_for [:admin, train], html: { style: "display: #{hidden ? 'none' : 'block'}" } do |f| %>

  <%= render 'common/errors', resource: train %>

  <div class="form-group">
    <%= f.label :number %>
    <%= f.text_field :number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :route_id, t('common.route') %>
    <%= f.collection_select :route_id, Route.all, :id, :title, {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.check_box :cars_order %>
    <%= f.label :cars_order, t('.tail_order') %>
  </div>

  <%= f.submit t('.submit', action: train.new_record? ? t('common.create') : t('common.update')), class: 'btn btn-primary pull-right' %>

<% end %>
