<%= form_for [:admin, @train] do |f| %>

  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :route_id, t('common.route') %><br>
    <%= f.collection_select :route_id, Route.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :cars_order, t('.tail_order') %><br>
    <%= f.check_box :cars_order %>
  </div>

  <div class="actions">
    <%= f.submit t('.submit', action: @train.new_record? ? t('common.create') : t('common.update')) %>
  </div>

<% end %>
