<tr>
  <td>
    <span id="train_title_<%= train.id %>"><%= train.number %></span>
    <%= render 'form', train: train, hidden: true %>
  </td>
  <td><%= link_to t('common.show'), [:admin, train] %></td>
  <td>
    <%= link_to t('common.edit'), '',
                  class: 'edit_train',
                  data: {
                      train_id: train.id,
                      edit_title: t('common.edit'),
                      cancel_title: t('common.cancel')
                  } %>
  </td>
  <td>
    <%= link_to t('common.destroy'),
                  [:admin, train],
                  method: :delete,
                  data: { confirm: t('common.sure') } %>
  </td>
</tr>
