<tr>
  <td><%= car.kind_name %></td>
  <td><%= car.bottom_seats %></td>
  <td><%= car.top_seats %></td>
  <td>
    <% if car.train.present? %>
      <%= car.train.number %>
    <% else %>
      not set
    <% end %>
  </td>
  <td><%= link_to 'Show', car %></td>
  <td><%= link_to 'Edit', edit_car_path(car) %></td>
  <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
