<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @car.kind_name %>
</p>

<p>
  <strong>Down place count:</strong>
  <%= @car.down_place_count %>
</p>

<p>
  <strong>Up place count:</strong>
  <%= @car.up_place_count %>
</p>

<p>
  <strong>Train:</strong>
  <% if @car.train.present? %>
    <%= @car.train.number %>
  <% else %>
    not set
  <% end%>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
