<p><%= t('.greeting') %> <%= @resource.email %>!</p>

<p><%= t('.message1') %></p>

<p><%= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.message2') %></p>
<p><%= t('.message3') %></p>
