<nav>
  <%= link_to 'Search Tickets', search_path %>
  <% if user_signed_in? %>
    <%= link_to 'My Tickets', tickets_path %>

    <% if current_user.admin? %>
      <%= link_to 'Tickets', admin_tickets_path %>
      <%= link_to 'Railway Stations', admin_railway_stations_path %>
      <%= link_to 'Routes', admin_routes_path %>
      <%= link_to 'Trains', admin_trains_path %>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      (<%= current_user.email %>)
  <% else %>
      <%= link_to 'Sign In', new_user_session_path %>
  <% end%>
</nav>
