<!DOCTYPE html>
<html>
<head>
  <title><%= t('common.dashboard') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <strong>
    <%= link_to t('common.dashboard'), admin_path %>
  </strong>

  <nav>
    <%= link_to t('common.site'), root_path %>
    <%= link_to t('common.railway_stations'), admin_railway_stations_path %>
    <%= link_to t('common.routes'), admin_routes_path %>
    <%= link_to t('common.trains'), admin_trains_path %>
    <%= link_to t('common.tickets'), admin_tickets_path %>
    <%= link_to t('common.sign_out'), destroy_user_session_path, method: :delete %>
    (<%= current_user.email %>)
  </nav>
</header>

<section>
  <%= render 'common/flash' %>
  <%= yield %>
</section>

<footer>
  <%= render 'common/copyright' %>
</footer>

</body>
</html>
