<!DOCTYPE html>
<html>
<head>
  <title>Tutu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <strong>
    <%= link_to 'Tutu', root_path %>
  </strong>
  <nav>
    <%= link_to 'Search Tickets', search_path %>
    <% if user_signed_in? %>
        <%= link_to 'My Tickets', tickets_path %>

        <% if current_user.admin? %>
            <%= link_to 'Dashboard', admin_path %>
        <% end %>
    <% end %>

    <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        (<%= current_user.email %>)
    <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
    <% end%>
  </nav>
</header>

<section>
  <%= render 'common/flash' %>

  <%= yield %>
</section>

<footer>
  <%= render 'common/copyright' %>
</footer>

</body>
</html>
