<!DOCTYPE html>
<html>
<head>
  <title><%= t('.title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <strong>
    <%= link_to t('.title'), root_path %>
  </strong>
  <nav>
    <%= link_to t('.search_tickets'), search_path %>
    <% if user_signed_in? %>
        <%= link_to t('.my_tickets'), tickets_path %>

        <% if current_user.admin? %>
            <%= link_to t('common.dashboard'), admin_path %>
        <% end %>
    <% end %>

    <% if user_signed_in? %>
        <%= link_to t('common.sign_out'), destroy_user_session_path, method: :delete %>
        (<%= current_user.email %>)
    <% else %>
        <%= link_to t('common.sign_in'), new_user_session_path %>
    <% end%>
  </nav>
</header>

<section>
  <%= render 'common/flash' %>
  <%= yield %>
</section>

<footer>
  <%= render 'common/copyright' %>
</footer>

</body>
</html>
