<!DOCTYPE html>
<html>
<head>
  <title>Tutu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <%= link_to 'Search Tickets', search_path %>
    <%= link_to 'Tickets', tickets_path %>
    <%= link_to 'Railway Stations', railway_stations_path %>
    <%= link_to 'Routes', routes_path %>
    <%= link_to 'Trains', trains_path %>

    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      (<%= current_user.email %>)
    <% else %>
      <%= link_to 'Sign In', new_user_session_path %>
    <% end%>
  </nav>
</header>

<section>
  <p id="notice" class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</section>

<footer>
  &copy; <%= Time.now.year %> Ivan Lemeshev.
  Training project in the online school Thinknetica.
</footer>

</body>
</html>
